.container {
  width: 80%;
  margin: 0 auto;
}
.app_body {
  display: flex;
  /* background-color: aquamarine; */
  /* max-width: 1200px; */
  /* margin-left: 20px; */
  /* margin-right: 20px; */
  /* justify-content: space-between; */
}
.app {
  background-color: #f3f2ef;
}
